div{
    background-color: plum;
    width: 20%;
    margin: auto;
    border-radius: 5%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

input{
    margin: 5px;
}

input[value="Elküld"]{
    padding: 5px 50px 5px 50px;
    border: solid 1px black;
}
h2{
    background-color: white;
    text-align: center;
    margin: auto;
    width: 55%;
}
p{
    margin: 0;
}

/* Nemtudtam hogy CSS vagy JS kell, ittvan CSS is : */

/* input[type="text"]:focus{
    background-color: lightblue;
} */

